@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 21% 92%;
    --foreground: 0 0% 30%;

    --card: 40 21% 96%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 40%;

    --primary: 260 100% 50%;
    --primary-foreground: 40 21% 99%;

    --secondary: 40 21% 99%;
    --secondary-foreground: 0 0% 20%;

    --muted: 40 21% 99%;
    --muted-foreground: 0 0% 80%;

    --accent: 260 100% 70%;
    --accent-foreground: 260 100% 95%;

    --destructive: 0 100% 57%;
    --destructive-foreground: 0 0% 50%;

    --border: 40 21% 90%;
    --input: 40 21% 95%;
    --ring: 260 100% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .my-container {
    @apply px-2 py-2 sm:px-12 lg:px-16;
  }
  .hero-container {
    @apply px-2 sm:px-12 lg:px-0 lg:pl-16;
  }
}

/* css for selected text */
*::selection {
  color: hsl(40 21% 98%);
  background: hsl(260 100% 60%);
}

/* css for image in herosection to add a svg mask on it */
.heroImageMask {
  -webkit-mask-image: url("/assets/heromask.svg");
  mask-image: url("/assets/heromask.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.introImageMask {
  -webkit-mask-image: url("/assets/intromask.svg");
  mask-image: url("/assets/intromask.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* style for caraousal component to make it flex and give them space in between */
.review-carousal .slick-list .slick-track .slick-slide div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

/* .works .slick-list .slick-track .slick-slide div {
} */
